<section class="counters">
    <div class="container">
        <div class="counters-box row">
            <div class="col-xs-12 col-sm-3">
                <p>EAT</p>
            </div>
            <div class="col-xs-12 col-sm-3">
                <p>SLEEP</p>
            </div>
            <div class="col-xs-12 col-sm-3">
                <p>CODE</p>
            </div>
            <div class="col-xs-12 col-sm-3">
                <p>REPEAT</p>
            </div>
        </div>
        <div class="row">
            <div class="col-xs-12">
                <div class="i-will-go">
                    <a href="https://javamadness.ticketforevent.com/ru/?draft_mode=on">Я иду!</a>
                </div>
            </div>
        </div>
    </div>
</section>
