<section class="counters">
    <div class="container">
        <div class="row">
            <div class="col-sm-4">
                <div class="icon">
                    <img src="/images/counters/icon_1.jpg" alt="100+ учасников">
                </div>
            </div>
            <div class="col-sm-4">
                <div class="icon">
                    <img src="/images/counters/icon_2.jpg" alt="8+ часов практики">
                </div>
            </div>
            <div class="col-sm-4">
                <div class="icon">
                    <img src="/images/counters/icon_3.jpg" alt="2 крутых дня">
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-xs-12">
                <div class="i-will-go">
                    <a href="#">Я иду!</a>
                </div>
            </div>
        </div>
    </div>
</section>