<footer class="copyright">
    <div class="container">
        <div class="row">
            <div class="col-xs-12 col-md-4">
                <p>GOIT Club 2016. All rights reserved.</p>
            </div>
            <div class="col-xs-12 col-md-8 text-right-md text-right-lg">
                <div class="site-author">
                    Created by GoITClub Cats:
                    <p>Max Palyvoda (design) 
                        <a href="https://www.facebook.com/max.palyvoda" target="_blank"><img src="../../images/footer/facebook_icon.png"></a>
                        <a href="https://www.behance.net/max_palyvoda" target="_blank"><img src="../../images/footer/behance_icon.png"></a>
                    </p>
                    <p>Yuriy Byts' (layout) 
                        <a href="https://www.facebook.com/yuriy.byts" target="_blank"><img src="../../images/footer/facebook_icon.png"></a>
                        <a href="https://www.linkedin.com/in/yuriy-byts-464ab282" target="_blank"><img src="../../images/footer/linkedin_icon.png"></a>
                    </p>
                    <p>Eugene Briukov (layout) 
                        <a href="https://www.facebook.com/profile.php?id=1476821667" target="_blank"><img src="../../images/footer/facebook_icon.png"></a>
                        <!--<a href="https://www.behance.net/max_palyvoda" target="_blank"><img src="../../images/footer/behance_icon.png"></a>-->
                    </p>
                </div>
            </div>
        </div>
    </div>
</footer>

<script src="js/bundle.js"></script>
<script src="//cdnjs.cloudflare.com/ajax/libs/wow/0.1.12/wow.min.js"></script>
<!--[if IE]><script src="js/bundle-ie.js"></script><![endif]-->

