<footer class="section--footer">
    <div class="container">
        <div class="footer-box">
            <div class="footer-box__inner">
                <div class="row">
                    <div class="col-xs-12 col-md-6">
                        <p class="footer__heading">Где?</p>
                        <p><i class="address-icon"></i>
                        <span class="address">ул.Евгения Коновальца, 36Б<br/>Штаб-квартира GOIT</span>
                        </p>
                        <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d2541.8677774743087!2d30.532261115957635!3d50.42493509708381!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x40d4cf1a98f591a5%3A0xb201d076928c804e!2z0LLRg9C7LiDQhNCy0LPQtdC90LAg0JrQvtC90L7QstCw0LvRjNGG0Y8sIDM2LCDQmtC40ZfQsiwgMDExMzM!5e0!3m2!1suk!2sua!4v1455283034216" allowfullscreen=""></iframe>
                    </div>
                    <div class="col-xs-12 col-md-6">
                        <p class="footer__heading">Кто?</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</footer>

<div class="copyright">
    <div class="container">
        <div class="row">
            <div class="col-xs-12 col-md-4">
                <p>GOIT Club 2016. All rights reserved.</p>
            </div>
            <div class="col-xs-12 col-md-8 text-right-md text-right-lg">
                <div class="site-author">
                    Created by GoITClub Cats:
                    <p>Max Palyvoda (design) 
                        <a href="https://www.facebook.com/max.palyvoda" target="_blank"><img src="../../images/footer/facebook_icon.png"></a>
                        <a href="https://www.behance.net/max_palyvoda" target="_blank"><img src="../../images/footer/behance_icon.png"></a>
                    </p>
                    <p>Yuriy Byts' (layout) 
                        <a href="https://www.facebook.com/yuriy.byts" target="_blank"><img src="../../images/footer/facebook_icon.png"></a>
                        <a href="https://www.linkedin.com/in/yuriy-byts-464ab282" target="_blank"><img src="../../images/footer/linkedin_icon.png"></a>
                    </p>
                    <p>Eugene Briukov (layout) 
                        <a href="https://www.facebook.com/profile.php?id=1476821667" target="_blank"><img src="../../images/footer/facebook_icon.png"></a>
                        <!--<a href="https://www.behance.net/max_palyvoda" target="_blank"><img src="../../images/footer/behance_icon.png"></a>-->
                    </p>
                </div>
            </div>
        </div>
    </div>
</div>

<script src="js/bundle.js"></script>
<!--[if IE]><script src="js/bundle-ie.js"></script><![endif]-->

