<section class="promo container-full">
    <div class="container">
        <div class="promo-box">
            <div class="promo-box__inner">
                <div class="row promo__time">
                    <div class="hidden-xs col-sm-3 col-md-4 line "></div>
                    <div class="col-xs-12 col-sm-6 col-md-4">12-13 Марта, Киев</div>
                    <div class="hidden-xs col-sm-3 col-md-4 line"></div>
                </div>
                <h1>Java<br/>Madness</h1>
                <span>2-х дневный интенсив для джавистов</span>
                <div class="row promo__tickets">
                    <div class="col-xs-12">
                        <div class="btn--purple">
                            <a href="#">Билеты</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
