<section id="schedule" class="schedule">
    <div class="container">
        <div class="schedule-box">
            <div class="schedule-box__inner">
                <div class="row">
                    <i class="schedule-box__icon fa fa-calendar fa-3x"></i>
                    <div class="col-xs-12 col-md-6 schedule-column left-table">
                        <p class="schedule-column__heading">ДЕНЬ 1</p>
                        <div class="schedule-column__table wow slideInLeft">
                            <div class="item">
                                <div class="image">
                                    <img src="../../images/schedule/icon-registration.jpg" alt="man-icon"/>
                                </div>
                                <div class="time">10.00 - 10.40</div>
                                <div class="title">Регистрация участников</div>
                            </div>
                            <div class="item">
                                <div class="image">
                                    <img src="../../images/schedule/icon-man.png" alt="man-icon"/>
                                </div>
                                <div class="time">10.40 - 11.00</div>
                                <div class="title">Открытие и приветствие организаторов</div>
                            </div>
                            <div class="item">
                                <div class="image">
                                    <img src="../../images/schedule/icon-speaker.jpg" alt="man-icon"/>
                                </div>
                                <div class="time">11.00 - 12.00</div>
                                <div class="title">Вдохновляющий спич, приводящий всех в восторг</div>
                            </div>
                            <div class="item">
                                <div class="image">
                                    <img src="../../images/schedule/icon-speaker.jpg" alt="man-icon"/>
                                </div>
                                <div class="time">12.00 - 13.00</div>
                                <div class="title">Тема на стадии идейного формирования - Сергей Немчинский</div>
                            </div>
                            <div class="item">
                                <div class="image">
                                    <img src="../../images/schedule/icon-dinner.jpg" alt="man-icon"/>
                                </div>
                                <div class="time">13.00 - 14.00</div>
                                <div class="title">Обед</div>
                            </div>
                            <div class="item">
                                <div class="image">
                                    <img src="../../images/schedule/icon-speaker.jpg" alt="man-icon"/>
                                </div>
                                <div class="time">14.00 - 15.00</div>
                                <div class="title">Lambdas in Java 8 - Алексадра Дмитренко </div>
                            </div>
                            <div class="item">
                                <div class="image">
                                    <img src="../../images/schedule/icon-speaker.jpg" alt="man-icon"/>
                                </div>
                                <div class="time">15.00 - 16.00</div>
                                <div class="title">Прекрасный спикер об интересных вещах</div>
                            </div>
                            <div class="item">
                                <div class="image">
                                    <img src="../../images/schedule/icon-coffee.jpg" alt="man-icon"/>
                                </div>
                                <div class="time">16.00 - 16.05</div>
                                <div class="title">Кофе-брейк</div>
                            </div>
                            <div class="item">
                                <div class="image">
                                    <img src="../../images/schedule/icon-speaker.jpg" alt="man-icon"/>
                                </div>
                                <div class="time">16.05 - 17.00</div>
                                <div class="title">Сногcшибательный доклад от потрясающего спикера</div>
                            </div>
                            <div class="item">
                                <div class="image">
                                    <img src="../../images/schedule/icon-speaker.jpg" alt="man-icon"/>
                                </div>
                                <div class="time">17.00 - 18.00</div>
                                <div class="title">Как я искал друзей в Java-тусовке и зачем. История одного “отшельника” - Иван Cоболев </div>
                            </div>
                            <div class="item">
                                <div class="image">
                                    <img src="../../images/schedule/icon-networking.jpg" alt="man-icon"/>
                                </div>
                                <div class="time">18.00 - 22.00</div>
                                <div class="title">Networking space: отдых, поиск новых знакомств, обсуждения впечатлений </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-xs-12 col-md-6 schedule-column">
                        <p class="schedule-column__heading">ДЕНЬ 2</p>
                        <div class="schedule-column__table wow slideInRight">
                            <div class="item">
                                <div class="image">
                                    <img src="../../images/schedule/icon-registration.jpg" alt="man-icon"/>
                                </div>
                                <div class="time">9.30 - 10.00</div>
                                <div class="title"> - регистрация участников</div>
                            </div>
                            <div class="item">
                                <div class="image">
                                    <img src="../../images/schedule/icon-coffee.jpg" alt="man-icon"/>
                                </div>
                                <div class="time">10.00 - 10.30</div>
                                <div class="title"> - утренний кофе</div>
                            </div>
                            <div class="item">
                                <div class="image">
                                    <img src="../../images/schedule/icon-ios.jpg" alt="man-icon"/>
                                </div>
                                <div class="time">10.30 - 13.00</div>
                                <div class="title"> - мастер-класс (iOS)</div>
                            </div>
                            <div class="item">
                                <div class="image">
                                    <img src="../../images/schedule/icon-dinner.jpg" alt="man-icon"/>
                                </div>
                                <div class="time">13.30 - 14.30</div>
                                <div class="title"> - обед</div>
                            </div>
                            <div class="item">
                                <div class="image">
                                    <img src="../../images/schedule/icon-android.jpg" alt="man-icon"/>
                                </div>
                                <div class="time">14.30 - 18.30</div>
                                <div class="title"> - мастер-класс (Android)</div>
                            </div>
                            <div class="item">
                                <div class="image">
                                    <img src="../../images/schedule/icon-relax.jpg" alt="man-icon"/>
                                </div>
                                <div class="time">18.30 - 19.00</div>
                                <div class="title"> - остужаем головы</div>
                            </div>
                            <div class="item">
                                <div class="image">
                                    <img src="../../images/schedule/icon-party.jpg" alt="man-icon"/>
                                </div>
                                <div class="time">19.00 - 24.00</div>
                                <div class="title"> - after-party</div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
