<section class="schedule">
    <div class="container">
        <div class="schedule-box">
            <div class="schedule-box__inner">
                <div class="row">
                    <div class="col-xs-12 col-md-6 schedule-column">
                        <p class="schedule-column__heading">ДЕНЬ 1</p>
                        <div class="schedule-column__table">
                            <div class="item">
                                <div class="image">
                                    <img src="../../images/schedule/icon-man.png" alt="man-icon"/>
                                </div>
                                <div class="time">9.30 - 10.00</div>
                                <div class="title"> - регистрация участников</div>
                            </div>
                            <div class="item">
                                <div class="image">
                                    <img src="../../images/schedule/icon-man.png" alt="man-icon"/>
                                </div>
                                <div class="time">10.00 - 10.30</div>
                                <div class="title"> - утренний кофе</div>
                            </div>
                            <div class="item">
                                <div class="image">
                                    <img src="../../images/schedule/icon-man.png" alt="man-icon"/>
                                </div>
                                <div class="time">10.30 - 11.00</div>
                                <div class="title"> - приветствие организаторов</div>
                            </div>
                            <div class="item">
                                <div class="image">
                                    <img src="../../images/schedule/icon-man.png" alt="man-icon"/>
                                </div>
                                <div class="time">11.00 - 12.00</div>
                                <div class="title"> - спикер John Doe</div>
                            </div>
                            <div class="item">
                                <div class="image">
                                    <img src="../../images/schedule/icon-man.png" alt="man-icon"/>
                                </div>
                                <div class="time">12.15 - 13.15</div>
                                <div class="title"> - спикер Johny Depp</div>
                            </div>
                            <div class="item">
                                <div class="image">
                                    <img src="../../images/schedule/icon-man.png" alt="man-icon"/>
                                </div>
                                <div class="time">13.30 - 15.00</div>
                                <div class="title"> - обед</div>
                            </div>
                            <div class="item">
                                <div class="image">
                                    <img src="../../images/schedule/icon-man.png" alt="man-icon"/>
                                </div>
                                <div class="time">15.00 - 16.00</div>
                                <div class="title"> - Lana</div>
                            </div>
                            <div class="item">
                                <div class="image">
                                    <img src="../../images/schedule/icon-man.png" alt="man-icon"/>
                                </div>
                                <div class="time">16.15 - 17.00</div>
                                <div class="title"> - спикер Del</div>
                            </div>
                            <div class="item">
                                <div class="image">
                                    <img src="../../images/schedule/icon-man.png" alt="man-icon"/>
                                </div>
                                <div class="time">17.00 - 17.15</div>
                                <div class="title"> - кофе-брейк</div>
                            </div>
                            <div class="item">
                                <div class="image">
                                    <img src="../../images/schedule/icon-man.png" alt="man-icon"/>
                                </div>
                                <div class="time">17.15 - 18.00</div>
                                <div class="title"> - спикер 5</div>
                            </div>
                            <div class="item">
                                <div class="image">
                                    <img src="../../images/schedule/icon-man.png" alt="man-icon"/>
                                </div>
                                <div class="time">18.00 - 19.00</div>
                                <div class="title"> - спикер 6</div>
                            </div>
                            <div class="item">
                                <div class="image">
                                    <img src="../../images/schedule/icon-man.png" alt="man-icon"/>
                                </div>
                                <div class="time">19.00 - 21.00</div>
                                <div class="title"> - networking space</div>
                            </div>
                        </div>
                    </div>
                    <div class="col-xs-12 col-md-6 schedule-column">
                        <p class="schedule-column__heading">ДЕНЬ 2</p>
                        <div class="schedule-column__table">
                            <div class="item">
                                <div class="image">
                                    <img src="../../images/schedule/icon-man.png" alt="man-icon"/>
                                </div>
                                <div class="time">9.30 - 10.00</div>
                                <div class="title"> - регистрация участников</div>
                            </div>
                            <div class="item">
                                <div class="image">
                                    <img src="../../images/schedule/icon-man.png" alt="man-icon"/>
                                </div>
                                <div class="time">10.00 - 10.30</div>
                                <div class="title"> - утренний кофе</div>
                            </div>
                            <div class="item">
                                <div class="image">
                                    <img src="../../images/schedule/icon-man.png" alt="man-icon"/>
                                </div>
                                <div class="time">10.30 - 13.00</div>
                                <div class="title"> - мастер-класс (iOS)</div>
                            </div>
                            <div class="item">
                                <div class="image">
                                    <img src="../../images/schedule/icon-man.png" alt="man-icon"/>
                                </div>
                                <div class="time">13.30 - 14.30</div>
                                <div class="title"> - обед</div>
                            </div>
                            <div class="item">
                                <div class="image">
                                    <img src="../../images/schedule/icon-man.png" alt="man-icon"/>
                                </div>
                                <div class="time">14.30 - 18.30</div>
                                <div class="title"> - мастер-класс (Android)</div>
                            </div>
                            <div class="item">
                                <div class="image">
                                    <img src="../../images/schedule/icon-man.png" alt="man-icon"/>
                                </div>
                                <div class="time">18.30 - 19.00</div>
                                <div class="title"> - остужаем головы</div>
                            </div>
                            <div class="item">
                                <div class="image">
                                    <img src="../../images/schedule/icon-man.png" alt="man-icon"/>
                                </div>
                                <div class="time">19.00 - 24.00</div>
                                <div class="title"> - after-party</div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
