<section id="speakers" class="speakers">
    <div class="container">
        <div class="speakers-box">
            <div class="inner">
                <div class="item"><img src="../../images/speakers/speaker_nem4inskiy.jpg" alt="Немчинский"></div>
                <div class="item"><img src="../../images/speakers/speaker_dmitrienko.jpg" alt="Дмитриенко"></div>
                <div class="item"><img src="../../images/speakers/speaker_sobolev.jpg" alt="Соболев"></div>
            </div>
        </div>
    </div>
</section>
