<section id="speakers" class="speakers">
    <div class="container">
        <div class="speakers-box slick-carousel">
            <div class="item">
                <img src="../../images/speakers/speaker_nem4inskiy.jpg" alt="Немчинский">
                <div class="item-info">
                    <p>Сергей Немчинский</p>
                    <span>Team Leader <br/> @ Intropro</span>
                </div>
            </div>
            <div class="item">
                <img src="../../images/speakers/speaker_dmitrienko.jpg" alt="Дмитриенко">
                <div class="item-info">
                    <p>Александра Дмитренко</p>
                    <span>QA Automating <br/>@ EPAM Systems</span>
                </div>
            </div>
            <div class="item">
                <img src="../../images/speakers/speaker_sobolev.jpg" alt="Соболев">
                <div class="item-info">
                    <p>Иван Соболев</p>
                    <span>Java developer</span>
                </div>
            </div>
        </div>
    </div>
</section>
