<section id="tickets" class="tickets">
    <div class="container">
        <div class="tickets-box">
            <div class="tickets-left">
                <div class="inner">
                    <div class="title">
                        День 1
                    </div>
                    <div class="price">
                        <div>300 <i>грн</i></div>
                    </div>
                    <div class="buy wow pulse" data-wow-delay="2.5s">
                        <a href="https://javamadness.ticketforevent.com/ru/?draft_mode=on" target="_blank">Купить</a>
                    </div>
                </div>
            </div>
            <div class="tickets-center">
                <div class="title">
                    Хочу все!
                </div>
                <div class="price">
                    <div>600 <i>грн</i></div>
                </div>
                <div class="buy wow pulse" data-wow-delay="1s">
                    <a href="https://javamadness.ticketforevent.com/ru/?draft_mode=on" target="_blank">Купить</a>
                </div>
            </div>
            <div class="tickets-right">
                <div class="inner">
                    <div class="title">
                        День 2
                    </div>
                    <div class="price">
                        <div>400 <i>грн</i></div>
                    </div>
                    <div class="buy wow pulse" data-wow-delay="3.5s">
                        <a href="https://javamadness.ticketforevent.com/ru/?draft_mode=on" target="_blank">Купить</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
