<section class="tickets">
    <div class="container">
        <div class="tickets-box">
            <div class="tickets-left">
                <div class="inner">
                    <div class="title">
                        День 1
                    </div>
                    <div class="price">
                        <p>300 грн.</p>
                    </div>
                    <div class="buy">
                        <a href="#">Купить</a>
                    </div>
                </div>
            </div>
            <div class="tickets-center">
                <div class="title">
                    Хочу все!
                </div>
                <div class="price">
                    <p>600 грн.</p>
                    <p>(до 1 марта)</p>
                </div>
                <div class="buy">
                    <a href="#">Купить</a>
                </div>
            </div>
            <div class="tickets-right">
                <div class="inner">
                    <div class="title">
                        День 2
                    </div>
                    <div class="price">
                        <p>400 грн.</p>
                    </div>
                    <div class="buy">
                        <a href="#">Купить</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>