<section class="what-is-it">
    <div class="container">
        <div class="row">
            <div class="col-sm-4">
                <div class="icon">
                    <img src="/images/whatisit/icon_1.png" alt="Listen & Inspire">
                </div>
                <div class="title">
                    Listen & Inspire
                </div>
                <div class="text">
                    Всех участников GoITClub объединяет страсть к знаниям и фанатичное желание узнавать что-то новое.
                    Серия докладов от экспертов каждого из направлений позволит углубить свои знания и улучшить профессиональные скиллы.
                </div>
            </div>
            <div class="col-sm-4">
                <div class="icon">
                    <img src="/images/whatisit/icon_2.png" alt="Learn & Practise">
                </div>
                <div class="title">
                    Learn & Practise
                </div>
                <div class="text">
                    Сколько лидеров мнений не слушай, а практика бесценна. Второй день интенсивов посвящен исключительно практическим занятиям, где участники смогут потренироваться и закрепить пройденный материал.
                </div>
            </div>
            <div class="col-sm-4">
                <div class="icon">
                    <img src="/images/whatisit/icon_3.png" alt="Networking & Fun">
                </div>
                <div class="title">
                    Networking & Fun
                </div>
                <div class="text">
                    Способствовать поискам новых знакомств и идей будут интерактивная зона и after-party. Ивенты придусматривают обеды, перерывы, а главное, безлимитный WI-FI
                </div>
            </div>
        </div>
    </div>
</section>