<section id="what-is-it" class="what-is-it">
    <div class="container">
        <div class="row">
            <div class="col-sm-4">
                <div class="icon wow bounce" data-wow-delay="1s">
                    <img src="/images/whatisit/icon_1.png" alt="Listen & Inspire">
                </div>
                <div class="title">
                    Listen & Inspire
                </div>
                <div class="text">
                    Получай свою порцию вдохновения от ярких спикеров.
                    Вооружайся новыми технологиями и полезными инструментами для улучшения своих Java skills.
                    Определи вектор развития и улучшай свой проект.
                </div>
            </div>
            <div class="col-sm-4">
                <div class="icon wow bounce" data-wow-delay="2s">
                    <img src="/images/whatisit/icon_2.png" alt="Learn & Practise">
                </div>
                <div class="title">
                    Learn & Practise
                </div>
                <div class="text">
                    Just code it. Второй день интенсива посвящен практике и безудержному кодингу.
                    Обменивайся опытом с другими участниками и прокачивайся как командный игрок.
                </div>
            </div>
            <div class="col-sm-4">
                <div class="icon wow bounce" data-wow-delay="3s">
                    <img src="/images/whatisit/icon_3.png" alt="Networking & Fun">
                </div>
                <div class="title">
                    Networking & Fun
                </div>
                <div class="text">
                    Заводи знакомства, обменивайся идеями, ищи единомышленников и будущих коллег.
                    Основная цель - площадка для общения. Стань частью Java community GoITClub.
                    Ивенты придусматривают обеды, перерывы, а главное, безлимитный WI-FI.
                </div>
            </div>
        </div>
    </div>
</section>
