.contacts{
    position: relative;
    background: url('../../images/contacts/contacts-bg.jpg') repeat;
    font-family: $font-roboto;
    font-weight: 100;
    text-transform: uppercase;
    color: $color-white;
    overflow-x: hidden;
    &-box{
        margin: 50px 0;
        .contacts__heading{
            text-align: center;
            font-size: 36px;
        }
        .address{
            display: inline-block;
        }
        .address-icon{
            display: inline-block;
            content: '';
            position: relative;
            background: url('../../images/contacts/map-pointer.png');
            width:22px;
            height: 32px;
            margin-right: 20px;
        }
        iframe{
            width: 100%;
            height: 291px;
            frameborder: 0;
            border: 5px double $color-white;
            margin: 5px 0 0 0;
        }
        //right part
        .contacts__girls{
            @include make-row(0);
            margin-bottom: 20px;
            &--item{
                @include make-xs-column(12,0);
                @include make-sm-column(6,0);

                text-align: center;
                img{
                    width: 150px;
                    border-radius: 75px;
                }
                p{
                    margin-top: 10px;
                }
                .social {
                    a{
                        font-size: 18px;
                        color: $color-white;
                        text-decoration: none;
                        margin: 0 5px;
                        &:hover,&:focus{
                            color:$color-brand-aqua;
                        }
                    }
                }
            }
        }
    }
}
