.copyright{
    position: relative;
    background: $color-black;
    font-family: $font-roboto;
    font-weight: 100;
    color: $color-white;
    font-size: 10px;
    .site-author{
        p{
            display: inline-block;
        }
        p, a{
            padding: 0 5px;
        }
    }
    p{
        margin: 10px 0 10px;
    }
}
