.schedule{
    font:{
        family: $font-roboto;
        weight: 100;
    }
    .row{
        margin: 0px;
        position: relative;
    }
    &-box{
        border: 1px solid $color-black;
    }
    &-box__icon{
        position: absolute;
        top: 80px;
        left: 0;
        right: 0;
        color: $color-gray;
        margin: 0 auto;
        text-align: center;
    }
    &-column{
        padding-left: 0px;
        padding-right: 0px;
    }

    &-column.left-table .schedule-column__table{
        border-right: 1px solid $color-black;
    }

    &-column__heading{
        color: $color-brand-orange;
        font-size: 30px;
        margin: 30px 0px 70px 0px;
        text-align: center;
    }
    &-column__table{
        padding-left: 20px;
    }
    .item{
        div{
            display: inline-block;
            font-size: 17px;
            vertical-align: top;
        }
        .image{
            width: 80px;
        }
        .time, .title{
            margin-top: 12px;
        }
    }

}


@media (max-width: $screen-sm-max) {
    .schedule {
        &-column.left-table .schedule-column__table{
            border-right: none;
        }
        .item{
            div{
                font-size: 12px;
            }
            .time, .title{
                margin-top: 18px;
            }
        }
    }
}
