.schedule {
    font: {
        family: $font-roboto;
        weight: 100;
    }

    .row {
        margin: 0px;
        position: relative;
    }

    .nav-tabs.nav-justified {
        position: relative;
        font: {
            family: $font-fjalla;
            weight: 600;
            size: 30px;
        }

        > li, .active {
            border-bottom: 1px solid $color-gray;
            padding-bottom: 20px;
            text-align: center;
            float: left;
            width: 49%;
            > a {
                border: none;
                font-size: 25px;
                color: $color-black;
            }
        }

        > .active {
            a {
                color: $color-brand-orange;
            }
            &:before, &:after {
                top: 100%;
                left: 50%;
                border: solid transparent;
                content: '';
                height: 0;
                width: 0;
                position: absolute;
                pointer-events: none;
            }
            &:before {
                border-color: rgba(234, 234, 234, 0);
                border-top-color: #cecece;
                border-width: 12px 17px;
                margin-left: -12px;
            }
            &:after {
                border-color: rgba(250, 250, 250, 0);
                border-top-color: #fff;
                border-width: 10px 15px;
                margin-left: -10px;
            }
        }
    }

    .tab-content {
        margin-top: 30px;
        font-size: 20px;
        border-bottom: 1px solid $color-gray;

        table {
            width: 100%;
            padding-bottom: 30px;
            margin-bottom: 30px;
        }

        td {
            vertical-align: top;
            padding: 5px;
            &.time{
                min-width: 150px;
            }
        }
    }

    .no-content-only-kitten {
        position: relative;
        background: url('https://45.media.tumblr.com/1b1247477874ab4a8004382211a4991f/tumblr_nvsbbjvyMN1qkyq50o1_500.gif');
        background-repeat: no-repeat;
        background-size: cover;
        overflow: hidden;
        height: 400px;
        span {
            font-family: $font-roboto;
            font-weight: 100;
            text-shadow: 1px 1px 0 hsl(12, 81%, 59%), 2px 2px 0 hsl(12, 81%, 59%), 3px 3px 0 hsl(12, 81%, 59%), 4px 4px 0 hsl(12, 81%, 59%), 5px 5px 0 hsl(12, 81%, 59%), 6px 6px 0 hsl(12, 81%, 59%), 7px 7px 0 hsl(12, 81%, 59%);
            text-transform: uppercase;
            color: $color-brand-aqua;
            font-size: 40px;
            margin: auto;
            left: 0;
            right: 0;
            top: 150px;
            text-align: center;
            position: absolute;
        }
    }

}
