/* colors */

$color-white: #fff;
$color-brand-purple: #9532a8;
$color-brand-purple-darker: #800996;
$color-brand-orange: #e67a03;
$color-brand-cayan: #40cfc2;
$color-brand-red: #bf3445;
$color-brand-aqua: #3fc9bf;
/* fonts */

$font-roboto: 'Roboto', sans-serif;
$font-promo: 'pf_amateur_ls', sans-serif;

/* heade r*/

$header-triangle-height: 25px;
